@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300;400;500;700&display=swap');
@import 'variables/_variables.scss';

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

body
{
  background-color: $bgColor;
  font-size: 14px;
  line-height: inherit;
  scrollbar-color: $textColor $bgColor;
  scrollbar-width: none;
}

a
{
  text-decoration: none;
  color: $primaryColor;
}

ul
{
  list-style: none;
}

input
{
  background-color: transparent;
  border: 1px solid $textColor;
  outline: transparent;
  color: $textColor;
  padding: 0.3vw 1vw;
  font-size: 0.83333vw;
  font-family: $textFont;
}

::placeholder
{
  color: $textColor;
  opacity: 1;
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $textColor; 
}

::-webkit-scrollbar-track {
  background: $bgColor; 
}

@keyframes fadeUp
{
  0%
  {
    transform: translateY(-15%);
    opacity: 0;
  }
  100%
  {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes blurAnim
{
  0%
  {
    filter: blur(30px) grayscale(0.7) opacity(0.1);
  }
  100%
  {
    filter: blur(0) grayscale(0.7) opacity(0.1);
  }
}

.home__container
{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;

  .heroMenuSection
  {
      font-size: $fontSizeBigTitle;
      color: $primaryColor;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-family: $titlesFont;
      text-transform: uppercase;
      font-weight: 600;
      
      .heroSection--active
      {
          color: $textColor;
      }

      a:not(:last-child)
      {
          margin-bottom: 5.555vh;
      }
  }

  .home--content
  {
    flex-basis: 83.333%;
    height: 100%;
    overflow: hidden;
  }

  .home--menu
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid #3C3A38;
    background-color: rgba(23, 23, 23, 0.6);
    flex-basis: 16.666%;
    height: 100%;

    .menu--btn
    {
        width: 1.666vw;
        fill: $textColor;
        margin-top: 6.944vh;
        position: absolute;
        top: 0;
        left: auto;
    }
  }
}

@import './components/heroMenu';
@import './sections/hero';
@import './sections/catalog';
