$frontFont: 'Pragati Narrow', sans-serif;
$titlesFont: 'Inconsolata', monospace;
$textFont: 'Maitree', serif;

$fontSizeBigTitle: (46/1920) * 100vw;
$fontsizeMediumTitle: (32/1920) * 100vw;
$fontsizeBtns: (26/1920) * 100vw;
$fontsizeText: (16/1920) * 100vw;

$fontMinimumText: (14/1920) * 100vw;

$specialColor: #BE3D15;
$bgColor: #171717;
$textColor: #EDF2F5;
$primaryColor: #707070;

$defaultPaddingLeft: (80/1920) * 100vw;
$defaultPaddingTop: (45/1080) * 100vh;

$defaultWidthIcon: 1vw;
$defaultHeightIcon: 1vw;