.catalog__container
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: $defaultPaddingTop 0 0 $defaultPaddingLeft;
    scrollbar-width: none;

    h3
    {
        color: #fff;
        font-size: $fontSizeBigTitle;
        font-family: $frontFont;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
    }

    .catalogFilters
    {
        position: relative;
        margin: 3.703vh 0;
        z-index: 1;
        color: $textColor !important;
        font-size: $textFont;
        scrollbar-width: none;
        display: flex;
        z-index: 10;

        > *:not(:first-child)
        {
            margin-left: 2.083vw;
        }

        > input
        {
            width: 15.625vw;
        }

        .catalogFilter--filter
        {
            font-family: $textFont;
            font-size: $fontsizeText;
            width: 11.875vw;

            .css-1s2u09g-control
            {
                background-color: transparent;
                border-radius: 0;
                border: 1px solid $textColor;
                cursor: pointer !important;
            }

            .css-14el2xx-placeholde, .css-1rhbuit-multiValue
            {
                background-color: $primaryColor;
            }
            
            .css-12jo7m5
            {
                color: $textColor;
            }

            .css-26l3qy-menu
            {
                background-color: $bgColor;
                border-radius: 0;
                scrollbar-width: none;
                border: 1px solid $textColor;
                margin: 0;
            }

            .css-tj5bde-Svg
            {
                fill: $textFont;
            }

            .css-1pahdxg-control:hover, .css-1pahdxg-control, .css-1jwfq3j-control:hover
            {
                border-color: $textColor !important;
            }

            .css-1pahdxg-control, .css-1jwfq3j-control
            {
                box-shadow: none !important;
                background-color: transparent !important;
                border-radius: 0 !important;
                border-color: $textColor !important;
            }

            .css-xb97g8:hover
            {
                background-color: $textColor;
                color: $specialColor;
            }

            .css-xb97g8
            {
                padding: 0 8px !important;
                margin-left: 8px;
            }

            .css-12jo7m5
            {
                border-radius: 0;
                margin: 0 0.5vw;
            }

            .css-319lph-ValueContainer
            {
                padding: 0.3vw 1vw;
                padding-right: 0;
            }

            .css-qc6sy-singleValue, .css-6j8wv5-Input, .css-14el2xx-placeholder, #react-select-3-input
            {
                color: $textColor !important;
                padding: 0;
                margin: 0;
            }
            
            .css-1okebmr-indicatorSeparator
            {
                display: none !important;
            }
        }
    }

    .catalog--content .carousel__container
    {
        position: relative;
        margin-top: 3vh;
    }

    .catalog--content
    {
        width: 100%;
        padding-bottom: $defaultPaddingTop;

        .catalogResultFilters__Container
        {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 2vw;
            padding-right: $defaultPaddingLeft;
        }

        .carousel__container, .catalogResultFilters__Container
        {
            .swiper
            {
                overflow:inherit;
            }

            .swiper::after
            {
                content: "";
                display: block;
                width: 10vw;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background: linear-gradient(90deg, rgba(23,23,23,0) 0%, rgba(23,23,23,1) 100%);
                z-index: 2;
            }

            .catalog--title
            {
                color: #fff;
                font-size: $fontsizeMediumTitle;
                font-family: $titlesFont;
                font-weight: 300;
                margin-bottom: 1.851vh;
            }
            

            .horizontalCatalogCarousel--Card
            {
                position: relative;
                background-color: $bgColor;
                width: 100%;
                cursor: pointer;
                transition: 0.3s ease-out;
                z-index: 2;

                .card--media
                {
                    position: relative;
                    pointer-events: none;
                    overflow: hidden;
                    border-radius: 4px;

                    > img
                    {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        pointer-events: none;
                        z-index: 1;
                    }

                    > video
                    {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        opacity: 0;
                        z-index: 1;
                        pointer-events: none;
                    }

                    .card--logoDuration__Container
                    {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 85%;
                        height: 100%;
                        padding: 0.520vw;
                        z-index: 3;

                        .card--logoDuration
                        {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            overflow: hidden;

                            .card--duration
                            {
                                width: 100%;
                                padding: 0.520vw;
                                transform-origin: center;
                                transform: scaleX(0);
                                opacity: 0;

                                .duration--total
                                {
                                    position: relative;
                                    width: 100%;
                                    height: 3px;
                                    background-color: $primaryColor;
                                    display: block;

                                    .duration--currentTime
                                    {
                                        display: block;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 80%;
                                        height: 3px;
                                        background-color: $specialColor;
                                    }
                                }
                            }

                            .card--logo
                            {
                                width: 43.731%;
                                max-height: 5vh;
                                opacity: 0;

                                img
                                {
                                    height: 100%;
                                    max-width: 100%;
                                }
                            }
                        }
                    }

                    .card--btns
                    {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 15%;
                        height: 100%;
                        background-color: rgba(23, 23, 23, 0.6);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        pointer-events: none;
                        border-radius: 0 4px 0 0;
                        padding: 1vw 0;
                        z-index: 2;
                        transform: translateX(100%);

                        .hearthPlus--btn
                        {
                            width: $defaultWidthIcon;
                            height: $defaultHeightIcon;
                        }

                        .addList--btn
                        {
                            width: $defaultWidthIcon;
                            height: $defaultHeightIcon;
                        }

                        .play--btn
                        {
                            width: $defaultWidthIcon;
                            height: $defaultHeightIcon;
                        }

                        .mute--btn
                        {
                            width: $defaultWidthIcon;
                            height: $defaultHeightIcon;
                        }

                        svg
                        {
                            width: 100%;
                            height: 100%;
                            fill: $textColor;
                        }
                    }

                    .card--btns::before
                    {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1px;
                        height: 100%;
                        background-color: $primaryColor;
                        transform-origin: center;
                        transform: scaleY(0);
                    }
                }

                .card--media::after
                {
                    content: "";
                    display: block;
                    padding-bottom: 59.259%;
                }
            }

            .verticalCatalogCarousel--Card
            {
                position: relative;
                background-color: $bgColor;
                width: 100%;
                cursor: pointer;
                transition: 0.3s ease-out;
                overflow: hidden;
                border-radius: (4/1920) * 100vw;
                box-shadow: 0 0 8px rgba(0,0,0,0.6);
                z-index: 2;

                img
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    transition: 0.4s ease-out;
                }
            }

            .verticalCatalogCarousel--Card:hover
            {
                img
                {
                    transform: scale(1.1);
                }
            }

            .verticalCatalogCarousel--Card::before
            {
                content: "";
                display: block;
                width: 100%;
                padding-bottom: 148%;
            }

            .horizontalCatalogCarousel--Card:hover
            {
                z-index: 3;
            }

            .horizontalCatalogCarousel--Card:hover
            {
                transform: scale(1.3);
                box-shadow: 0 0 8px rgba(0,0,0,1);
                border-radius: 4px 4px 0 0;
                transition-delay: 0.5s;
                z-index: 3;
            }

            .horizontalCatalogCarousel--Card:hover .card--media
            {
                border-radius: 4px;
                border: 1.8px solid $primaryColor;
                transition-delay: 0.5s;

                > img
                {
                    z-index: -1;
                    filter: grayscale(80%) opacity(0.3);
                    transition-delay: 0.5s;
                }

                video
                {
                    z-index: 1;
                    filter: grayscale(80%) opacity(0.3);
                    transition-delay: 2.5s;
                }
            }

            .horizontalCatalogCarousel--Card:hover .card--btns
            {
                transform: translateX(0);
                transition: 0.6s ease-out;
                transition-delay: 0.8s;
            }

            .horizontalCatalogCarousel--Card:hover .card--btns::before
            {
                transform: scaleY(100%);
                transition: 0.6s ease-out;
                transition-delay: 1s;
            }

            .horizontalCatalogCarousel--Card:hover .card--duration
            {
                transform: scaleX(100%) !important;
                opacity: 1 !important;
                transition: 0.6s ease-out !important;
                transition-delay: 2.5s !important;
            }

            .horizontalCatalogCarousel--Card:hover .card--logo
            {
                opacity: 1 !important;
                transition: 0.6s ease-out !important;
                transition-delay: 1.5s !important;
            }
        }
    }
}